/* src/LoginPage.css */

/* importing the Oxanium font */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap');

* {
    font-family: 'Oxanium', sans-serif;
}

/* Set a background image for the entire page */
body{
    margin: 0;
    padding: 0;
    height: 100vh;  /* Ensure it takes up the full screen height */
    background-image: url('C:\Everything Subodh\College\Project\FYP\Trade-Assistant-FYP\fyp\frontend\src\assets\images\LoginP\LoginBackground.jpg'); /* Replace with your image path */
    background-size: cover;  /* Ensure the image covers the entire screen */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent repeating the image */
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #E5FFEC;
    border-radius: 8px;
    box-shadow: 1px 4px 15px #f9f9f9;
}

/* Title Styling */

h1, h2, h3 {
    font-family: 'Oxanium', sans-serif;  /* Ensure Oxanium font is applied */
    text-transform: none !important;     /* Force the default text case */
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #1eff00;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Flex container for Remember Me and Forgot Password link */
.remember-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px; /* Space between checkbox and label */
}

.forgot-password-link {
    color: #007BFF;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

/* Style the login button */
button.login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #51FE4D;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button.login-button:hover {
    background-color: #24811f;
}

/* Style for the register link */
p.register-link {
    text-align: center;
    margin-top: 20px;
}

p.register-link a {
    color: #007BFF;
    text-decoration: none;
}

p.register-link a:hover {
    text-decoration: underline;
}