.forex-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: black;
    width: 100%;
    height: 100%;
}

.forex-title-f {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.forex-chart-container {
    flex: 3;
    margin-top: 20px;
    width: 900px;
    height: 650px;
    margin-left: 90px;
    margin-right: auto;
    margin-bottom: 0px;
}

.vertical-divider-f {
    width: 2px;
    background-color: #ffffff;
    height: auto; /* Ensure it spans the height of the container */
    margin: 0 20px;
}

.dropdown-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 20px;
}

.watchlist-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.horizontal-divider {
    width: 160px;
    border: none;
    border-top: 2px solid #ffffff;
    margin: 10px 0;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown label {
    font-weight: bold;
    color: aqua;
    margin-bottom: 5px;
}

.dropdown select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s;
}

.dropdown select:focus {
    border-color: #0056b3;
    outline: none;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.navigate-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigate-button:hover {
    background-color: #003d80;
}

.predictions-section {
    text-align: center;
    margin-top: 20px;
}

.predictions-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}

.indicator-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.apply-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.apply-button:hover {
    background-color: #003d80;
    transform: scale(1.05);
}
