.about-page {
    background-color: #000;
    color: white;
    font-family: 'Oxanium', sans-serif;
}

.about-container {
    background-color: #000000; /* Light blue for contrast */
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
}

.about-description {
    font-size: 1.2rem;
    margin-top: 10px;
}

.faq-container {
    width: 80%;
    margin: 40px auto;
    text-align: left;
}

.faq-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.faq-item {
    background-color: #222;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.faq-question {
    background: none;
    color: #00d4ff;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.faq-answer {
    font-size: 1rem;
    color: #ccc;
    margin-top: 5px;
}



/* Horizontal Line */
.section-divider {
    width: 100%;
    margin: 40px auto;
    border: none;
    border-top: 2px solid white;
}